<footer>
    <div id="footer" class="footer-container" data-aos="fade-up">
        <h1>Find Us</h1>
        <div class="footer-element">
            <h4>Indira Gandhi Delhi Technical University for Women</h4>
        </div>
        <div class="footer-element">
            <h4>James Church, New Church Rd, Opp. St, Kashmere Gate, New Delhi,
                Delhi 110006, India</h4>
        </div>
        <div id="google-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3500.8149368335253!2d77.23020441424978!3d28.665259382404848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd0683919c3b%3A0xf5fc331b74c2b9e2!2sIndira%20Gandhi%20Delhi%20Technical%20University%20for%20Women!5e0!3m2!1sen!2sin!4v1600941143402!5m2!1sen!2sin"
                allowfullscreen></iframe>
        </div>
    </div>

    <div class="footer-container" data-aos="fade-up">
        <h1>Connect</h1>
        <div class="footer-element">
            <h4>
                Phone : <a href="tel:+919205642321">+91 92056 42321</a><br> 
                Email : <a href="mailto:aiclubigdtuw@gmail.com">aiclubigdtuw@gmail.com</a><br>
                <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/company/aiclubigdtuw/mycompany/" target="_blank"><i class="fa-brands fa-linkedin-in" style="background-color:none"></i></a>
                <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/aiclubigdtuw/" target="_blank"><i class="fa-brands fa-instagram" style="background-color:none"></i></a>
                <a class="btn btn-social-icon btn-linkedin" href="https://twitter.com/aiclubigdtuw" target="_blank"><i class="fa-brands fa-twitter" style="background-color:none"></i></a>
            </h4>
        </div>
        <div class="footer-element">
            <h4>AI Club IGDTUW<br><span id="tagline">AI Enabled</span></h4>
        </div>
    </div>

    <div class="footer-container" data-aos="fade-up">
        <h1>Contact Us</h1>
        <form action="https://formsubmit.co/aiclubigdtuw@gmail.com" method="POST">
            <input type="text" placeholder="Full name">
            <input type="text" placeholder="Email Address">
            <input type="text" placeholder="Subject">
            <textarea name="query" id="query" cols="20" rows="10" placeholder="Tell us about your query"></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
</footer>
</body>
<script src="\JS\index.js"></script>
<script src=" https://unpkg.com/aos@next/dist/aos.js">
</script>
<script>
    AOS.init({
        offset: 250,
        duration: 800,
    });
</script>
</html>
