<style>
    @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
</style>

<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-logo">
        <img src="\Assets\AIclub_logo.png" alt="">
    </div>
    <div class="nav-header">
        <div class="nav-title">
            AI CLUB IGDTUW
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <img src="\Assets\hamburger.png" alt="">
        </label>
    </div>

    <div class="nav-links">
        <a href="/" id="nav-home">Home</a>
        <a href="/aboutus" id="nav-about">About Us</a>
        <a href="/team" id="nav-team">Team</a>
        <a href="/events" id="nav-events">Events</a>
        <a href="#" id="nav-events">Latest Updates</a>
        <a href="#" id="nav-events">Contact Us</a>
    </div>
</div>