<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\partials\navbar.css">
    <link rel="stylesheet" href="\css\partials\footer.css">
    <link rel="stylesheet" href="\css\events.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>AI CLUB IGDTUW</title>
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="events_page">
            <h1 class="heading">EVENTS</h1>
            <div style="overflow-x:auto;">
                <table class="table">
                    <tr class="rows">
                        <td>
                            <a class="event" href="#">
                                <img src="\Assets\image2.jpeg" alt="description" />

                                <div class="content">
                                    <h3>Hackoverflow Hackathon</h3>

                                    <div class="rollover">
                                        <p> HackOverflow is the 48 hour hackathon organised by AI Club IGDTUW on 29th
                                            October 2020. The distinguished panel of judges had Mr. Yashasvi Vats,
                                            Marketing
                                            Leader, Microsoft; Dr. Anup Girdhar, CEO at Sedulity Solutions &
                                            Technologies;
                                            and Dr. Mani Madhukar, Program Manager, Global University programs at IBM
                                            Research.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            <a class="event" href="#">
                                <img src="\Assets\image5.jpeg" alt="description" />

                                <div class="content">
                                    <h3>AI Kickstart Bootcamp</h3>

                                    <div class="rollover">
                                        <p>AI Kickstart was a 5-day (11th to 17th April 2021) bootcamp on introduction
                                            to
                                            Python and Machine Learning. Mr. Kartik Mathur, Mr. Mohit Uniyal, Coding
                                            Blocks
                                            took the educational sessions. The informative sessions covered the basics
                                            of
                                            Python including data analysis and visualization, before moving forward with
                                            ML
                                            theory and algorithms.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            <a class="event" href="#">
                                <img src="\Assets\image8.jpeg" alt="description" />

                                <div class="content">
                                    <h3>ML Bootcamp</h3>

                                    <div class="rollover">
                                        <p> In collaboration with Global AI Hub, completely free of cost, was organised.
                                            Mr.
                                            Kutay Akalin held cerebrally stimulating sessions to help students discover
                                            the
                                            applications of Artificial Intelligence and Machine Learning, and apply them
                                            to
                                            real-life scenarios. This course was live between 30 November and 4th
                                            December
                                            2020.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>

                    <tr class="rows">
                        <td>
                            <a class="event" href="#">
                                <img src="\Assets\image9.jpeg" alt="description" />

                                <div class="content">
                                    <h3>Advanced DSA Bootcamp</h3>

                                    <div class="rollover">
                                        <p>AI Club, under the DST-CoE on Artificial Intelligence, organised a 30 hours
                                            Training Session on Competitive Coding for IGDTUW students (UG/PG both). The
                                            sessions were taken by academic experts from Coding Blocks, like Mr. Prateek
                                            Narang and Mr. Apaar Kamal.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </td>

                        <td>
                            <a class="event" href="#">
                                <img src="\Assets\image7.jpeg" alt="description" />

                                <div class="content">
                                    <h3> Session on preparing for product based companies</h3>

                                    <div class="rollover">
                                        <p> A hands-on session delivered by Mr. Sachin Singla, a reputed mentor at
                                            Edudictive, was organised for the benefit of students eager to crack
                                            interviews
                                            at their dream companies. The event involved critical insights as well as a
                                            QnA
                                            session. It was conducted on 27th March 2021.

                                        </p>
                                    </div>
                                </div>
                            </a>
                        </td>

                        <td>
                            <a class="event" href="#">
                                <img src="\Assets\image9.jpeg" alt="description" />

                                <div class="content">
                                    <h3>Session on Leveraging LinkedIn</h3>

                                    <div class="rollover">
                                        <p>A workshop was held on 9th January 2021, by Mr. Aahan Malhotra, founder and
                                            CEO
                                            of Edudictive, to emphasize on the power of a good LinkedIn profile, and
                                            guided
                                            the audience on how to build an impressive one. He is an expert in product
                                            management, marketing, strategy planning, and has talked at more than 25 +
                                            institutions, mentoring over 2600 students.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>

                    <tr class="rows">
                        <td>
                            <a class="event" href="#">
                                <img src="\Assets\image6.jpeg" alt="description" />

                                <div class="content">
                                    <h3>Session on Introduction to AI</h3>

                                    <div class="rollover">
                                        <p> In collaboration with Coding Blocks, a hands-on session to gain utilitarian
                                            experience and get an introductory taste of AI was conducted on 27th
                                            October. It
                                            was presented by Mr. Prateek Narang, Co-Founder of Coding Blocks.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </td>

                        <td>
                            <a class="event" href="#">
                                <img src="\Assets\image4.jpeg" alt="description" />

                                <div class="content">
                                    <h3>Session on Machine Learning in Cloud</h3>

                                    <div class="rollover">
                                        <p> An informative session to discover and learn more about the applications of
                                            cloud computing was organised on 24th October 2020. Ms. Girisha Garg, Sr.
                                            Technical Trainer(AI/ML) at Amazon Internet Services, delivered a talk to
                                            understand cloud computing’s pivotal breakthrough in the contemporary
                                            market.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </td>

                        <td>
                            <a class="event" href="#">
                                <img src="\Assets\image9.jpeg" alt="description" />

                                <div class="content">
                                    <h3>Session on Getting started with Git/Github</h3>

                                    <div class="rollover">
                                        <p> In collaboration with IncubateIND, a hands-on session on Git and GitHub was
                                            organised on 10th Ocotber 2020, to familiarise students with one of the most
                                            potent technological tools to exist today. Mr Kaushik Roy, Principal
                                            Architect
                                            at IncubateIND delivered a talk.

                                        </p>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>

                    <tr class="rows">
                        <td>
                            <a class="event" href="#">
                                <img src="\Assets\image1.jpeg" alt="description" />

                                <div class="content">
                                    <h3>AI, Robotics and ML: Powering the new normal</h3>

                                    <div class="rollover">
                                        <p> An insightful session was conducted by Ms. Neeru Monga, HR Manager at
                                            Deloitte
                                            on 4th October 2020, to give an insight into how AI, robotics and ML are
                                            revolutionizing technology and changing the world.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </td>

                        <td>
                            <a class="event" href="#">
                                <img src="image3.jpeg" alt="description" />

                                <div class="content">
                                    <h3>AI in corporate: case study of Urban Company</h3>

                                    <div class="rollover">
                                        <p>An informative session was conducted on 3rd October 2020. Mr. Kanav Arora: VP
                                            Engineering, and Ms. Amishapriya Singh: Software Development Engineer shared
                                            their experience about how they used cutting edge technology at their
                                            company,
                                            to develop products.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <%- include('partials/footer') %>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>