<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\partials\navbar.css">
    <link rel="stylesheet" href="\css\partials\footer.css">
    <link rel="stylesheet" href="\css\home.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>AI CLUB IGDTUW</title>
</head>

<body>
    <%- include('partials/navbar') %>
        <main>
            <div class="main-text">
                <h4 data-aos="fade-up">We are the women in ML and AI
                    who hold the power to bring a
                    technological revolution.</h4>
                <h1 data-aos="fade-up">The Revolution is Here.
                    The Revolution is AI Club, IGDTUW</h1>
            </div>
            <div class="robo_img">
                <img src="\Assets\Robot_head.png" alt="ROBOT HEAD">
            </div>
        </main>
        <div class="about_us">
            <div class="about_container">
                <div data-aos="fade-up">
                    <h2>Welcome to AI Club, IGDTUW</h2>
                </div>
                <div class="about_text" data-aos="fade-up">
                    <p>Be it the language of machines, the anatomy of computers., or a wholesome experience of
                        technology,
                        we
                        have conquered it all. Here capabilities are tested and expanded multifolds. We are a team of
                        talented
                        women who operate the web, the engines with an undying spirit and determination running in our
                        veins. Do
                        you have what it takes to become one of us?</p>
                </div>
            </div>
            <div data-aos="fade-up" class="intro_video">
                <video width="100%" height="auto" style="border-radius: 10px; border: 1px solid rgb(177, 177, 177);"
                    controls="">
                    <source src="\Assets\intro-video-2022.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support this video.
                </video>
            </div>
        </div>
        <div class="about_container">
            <div data-aos="fade-up" class="vc_photo">
                <img src="../public/images/Layer 2.jpg" alt="">
                <h4>Dr. Amita Dev</h4>
            </div>
            <div data-aos="fade-up" class="vc_text">
                <h3>PATRON - AI CLUB</h3>
                <p>The pioneering enterprise of the AI Club of IGDTUW has been institutionalized with a progressive
                    vision
                    for the cultivation and enrichment of a congenial community for the emancipation of prospective
                    women
                    engineers through the promotion of the employment of groundbreaking technological advancements in
                    constructing ingenious and sustainable inventions for solving eminent problems of universal concern
                    while simultaneously working to establish professional alliances through industrial collaborations,
                    ensuring commercial exposure.</p>
            </div>
        </div>
        <div class="updates">
            <h3>Latest Updates</h3>
        </div>
        <%- include('partials/footer') %>
</body>
<script src=" https://unpkg.com/aos@next/dist/aos.js">
</script>
<script>
    AOS.init({
        offset: 250,
        duration: 800,
    });
</script>

</html>