<%- include('partials/navbar') %>
    <main class="main">
        <div class="main-text">
            <h4 data-aos="fade-up">We are the women in ML and AI
                who hold the power to bring a
                technological revolution.</h4>
            <h1 data-aos="fade-up">The Revolution is Here.
                The Revolution is AI Club, IGDTUW</h1>
        </div>
        <div class="robo_img">
            <img src="\Assets\Robot_head.png" alt="ROBOT HEAD">
        </div>
    </main>
    <div class="about_us">
        <div class="about_container">
            <div data-aos="fade-up">
                <h2>Welcome to AI Club, IGDTUW</h2>
            </div>
            <div class="about_text" data-aos="fade-up">
                <p>Be it the language of machines, the anatomy of computers., or a wholesome experience of
                    technology,
                    we
                    have conquered it all. Here capabilities are tested and expanded multifolds. We are a team of
                    talented
                    women who operate the web, the engines with an undying spirit and determination running in our
                    veins. Do
                    you have what it takes to become one of us?</p>
            </div>
        </div>
        <div data-aos="fade-up" class="intro_video">
            <video width="100%" height="auto" style="border-radius: 10px; border: 1px solid rgb(177, 177, 177);"
                controls autoplay playsinline loop>
                <source src="\Assets\intro-video-2022.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support this video.
            </video>
        </div>
    </div>
    <div class="about_container">
        <div data-aos="fade-up" class="vc_photo">
            <img src="\Assets\amita_dev.jpg" alt="">
            <h4>Dr. Amita Dev</h4>
        </div>
        <div data-aos="fade-up" class="vc_text">
            <h3>PATRON - AI CLUB</h3>
            <p>The pioneering enterprise of the AI Club of IGDTUW has been institutionalized with a progressive
                vision
                for the cultivation and enrichment of a congenial community for the emancipation of prospective
                women
                engineers through the promotion of the employment of groundbreaking technological advancements in
                constructing ingenious and sustainable inventions for solving eminent problems of universal concern
                while simultaneously working to establish professional alliances through industrial collaborations,
                ensuring commercial exposure.</p>
        </div>
    </div>
    <div class="about_container">
        <div data-aos="fade-up" class="vc_photo">
            <img src="\Assets\Arun_sir.jpeg" id="arun" alt="">
            <h4>Dr. Arun Sharma</h4>
        </div>
        <div data-aos="fade-up" class="vc_text">
            <h3>Faculty Coordinator - AI CLUB</h3>
            <p>Prof. Arun Sharma (Head - Dept. of AI and Data Sciences, IGDTUW) has been an eminent guiding force behind
                the stupendous success of the AI Club IGDTUW,
                since its inception. With 25 years of experience in educating, managing and researching in academia
                under his belt as well as publishing more than 100 papers in an assortment of reputed journals,
                Arun Sir continues to inspire countless members of this society to forge their way into the resplendent
                world of Machine Learning and AI.</p>
        </div>
    </div>
    <div class="updates" id="updates">
        <h3>Latest Updates</h3>
        <div class="updates_container">
            <div class="updates_col" style="display: flex; justify-content: center;">
                <img src="\Assets\orientation.png" alt="">
            </div>
            <div class="updates_col updates_desc">
                <h2>Orientation 2022-23</h2>
                <p>Do you remember being intrigued by TARS in Interstellar and wondering whether something similar could
                    possibly exist in the future? Or if the Matrix
                    could sustain itself from getting ripped by the AI? 
                    They say we fear the unknown, so what better way to safeguard ourselves than to leverage our
                    knowledge of AI. And what better way to learn about AI than to join the AI Club of IGDTUW which is
                    your one stop shop for all things data, droid and tech! 
                    Join us at our upcoming offline orientation and get to know our society and team up close.
                    Meet us on 7th December from 1 PM to 2 PM
                    Venue: Auditorium </p>
                <button class="register-btn" style="text-decoration: none;"><a href="register">Learn More</a></button>
            </div>
        </div>
    </div>
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="icon-cross" viewBox="0 0 32 32">
                <title>close</title>
                <path
                    d="M31.7 25.7L22 16l9.7-9.7a1 1 0 0 0 0-1.4L27.1.3a1 1 0 0 0-1.4 0L16 10 6.3.3a1 1 0 0 0-1.4 0L.3 4.9a1 1 0 0 0 0 1.4L10 16 .3 25.7a1 1 0 0 0 0 1.4l4.6 4.6a1 1 0 0 0 1.4 0L16 22l9.7 9.7a1 1 0 0 0 1.4 0l4.6-4.6a1 1 0 0 0 0-1.4z" />
            </symbol>
        </defs>
    </svg>

    <div class="page" data-modal-state="closed">
        <h3 style="margin-top: 50px; margin-bottom: 0">Recent Events</h3>
        <div class="slider-container">

            <div class="card-slider">
                <div class="card-wrapper">
                    <article class="card">
                        <picture class="card__background">
                            <img src="/Assets/rec1.jpeg">
                        </picture>

                        <!-- <h3 class="card__title">Asesor铆a Angelical</h3>
                        <div class="card__duration">
                            Duraci贸n: 3 horas
                        </div> -->
                    </article>
                </div>
                <div class="card-wrapper">
                    <article class="card">
                        <picture class="card__background">
                            <img src="/Assets/rec2.jpeg">
                        </picture>

                        <!-- <h3 class="card__title">Asesor铆a Angelical</h3>
                        <div class="card__duration">
                            Duraci贸n: 3 horas
                        </div> -->
                    </article>
                </div>
                <div class="card-wrapper">
                    <article class="card">
                        <picture class="card__background">
                            <img src="/Assets/rec4.jpeg">
                        </picture>

                        <!-- <h3 class="card__title">Asesor铆a Angelical</h3>
                        <div class="card__duration">
                            Duraci贸n: 3 horas
                        </div> -->
                    </article>
                </div>
                <div class="card-wrapper">
                    <article class="card">
                        <picture class="card__background">
                            <img src="/Assets/rec5.jpeg">
                        </picture>

                        <!-- <h3 class="card__title">Asesor铆a Angelical</h3>
                        <div class="card__duration">
                            Duraci贸n: 3 horas
                        </div> -->
                    </article>
                </div>
                <div class="card-wrapper">
                    <article class="card">
                        <picture class="card__background">
                            <img src="/Assets/rec6.jpeg">
                        </picture>

                        <!-- <h3 class="card__title">Asesor铆a Angelical</h3>
                        <div class="card__duration">
                            Duraci贸n: 3 horas
                        </div> -->
                    </article>
                </div>
                <div class="card-wrapper">
                    <article class="card">
                        <picture class="card__background">
                            <img src="/Assets/rec7.jpeg">
                        </picture>

                        <!-- <h3 class="card__title">Asesor铆a Angelical</h3>
                        <div class="card__duration">
                            Duraci贸n: 3 horas
                        </div> -->
                    </article>
                </div>
                <div class="card-wrapper">
                    <article class="card">
                        <picture class="card__background">
                            <img src="/Assets/rec8.jpeg">
                        </picture>

                        <!-- <h3 class="card__title">Asesor铆a Angelical</h3>
                        <div class="card__duration">
                            Duraci贸n: 3 horas
                        </div> -->
                    </article>
                </div>
            </div>
        </div>
        <!-- <div class="overlay"></div>
        <div class="modal-wrapper">
            <div class="modal">
                <button class="modal__close-button" type="button">
                    <svg class="icon icon-cross">
                        <use xlink:href="#icon-cross"></use>
                    </svg>
                </button>
                <div class="modal__scroll-area">
                    <header class="modal__header">
                        <div class="card__background">
                            <img src="https://source.unsplash.com/random">
                        </div>

                        <h1 class="card__title">Asesor铆a Angelical</h1>
                        <div class="card__duration">
                            Duraci贸n: 3 horas
                        </div>
                    </header>
                    <main class="modal__content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quo sint debitis? Dolorem
                            est at voluptatum obcaecati tempore eaque perferendis. Totam at consectetur commodi porro
                            atque eligendi rerum vero nam?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quo sint debitis? Dolorem
                            est at voluptatum obcaecati tempore eaque perferendis. Totam at consectetur commodi porro
                            atque eligendi rerum vero nam?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quo sint debitis? Dolorem
                            est at voluptatum obcaecati tempore eaque perferendis. Totam at consectetur commodi porro
                            atque eligendi rerum vero nam?</p>
                    </main>
                </div>
            </div>
        </div> -->
    </div>

    <%- include('partials/footer') %>
        <script>
            window.addEventListener('load', videoScroll);
            window.addEventListener('scroll', videoScroll);
            function videoScroll() {
                if (document.querySelectorAll('video[autoplay]').length > 0) {
                    var windowHeight = window.innerHeight,
                        videoEl = document.querySelectorAll('video[autoplay]');
                    for (var i = 0; i < videoEl.length; i++) {
                        var thisVideoEl = videoEl[i],
                            videoHeight = thisVideoEl.clientHeight,
                            videoClientRect = thisVideoEl.getBoundingClientRect().top;
                        if (videoClientRect <= ((windowHeight) - (videoHeight * .5)) && videoClientRect >= (0 - (videoHeight * .5))) {
                            thisVideoEl.play();
                        } else {
                            thisVideoEl.pause();
                        }
                    }
                }
            }
        </script>