<%- include('partials/navbar') %>
    <main>
        <div class="main-text">
            <h4 data-aos="fade-up">We are the women in ML and AI
                who hold the power to bring a
                technological revolution.</h4>
            <h1 data-aos="fade-up">The Revolution is Here.
                The Revolution is AI Club, IGDTUW</h1>
        </div>
        <div class="robo_img">
            <img src="\Assets\Robot_head.png" alt="ROBOT HEAD">
        </div>
    </main>
    <div class="about_us">
        <div class="about_container">
            <div data-aos="fade-up">
                <h2>Welcome to AI Club, IGDTUW</h2>
            </div>
            <div class="about_text" data-aos="fade-up">
                <p>Be it the language of machines, the anatomy of computers., or a wholesome experience of
                    technology,
                    we
                    have conquered it all. Here capabilities are tested and expanded multifolds. We are a team of
                    talented
                    women who operate the web, the engines with an undying spirit and determination running in our
                    veins. Do
                    you have what it takes to become one of us?</p>
            </div>
        </div>
        <div data-aos="fade-up" class="intro_video">
            <video width="100%" height="auto" style="border-radius: 10px; border: 1px solid rgb(177, 177, 177);"
                controls autoplay playsinline loop>
                <source src="\Assets\intro-video-2022.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support this video.
            </video>
        </div>
    </div>
    <div class="about_container">
        <div data-aos="fade-up" class="vc_photo">
            <img src="\Assets\amita_dev.jpg" alt="">
            <h4>Dr. Amita Dev</h4>
        </div>
        <div data-aos="fade-up" class="vc_text">
            <h3>PATRON - AI CLUB</h3>
            <p>The pioneering enterprise of the AI Club of IGDTUW has been institutionalized with a progressive
                vision
                for the cultivation and enrichment of a congenial community for the emancipation of prospective
                women
                engineers through the promotion of the employment of groundbreaking technological advancements in
                constructing ingenious and sustainable inventions for solving eminent problems of universal concern
                while simultaneously working to establish professional alliances through industrial collaborations,
                ensuring commercial exposure.</p>
        </div>
    </div>
    <div class="about_container">
        <div data-aos="fade-up" class="vc_photo">
            <img src="\Assets\Arun_sir.jpeg" id="arun" alt="">
            <h4>Dr. Arun Sharma</h4>
        </div>
        <div data-aos="fade-up" class="vc_text">
            <h3>Faculty Coordinator - AI CLUB</h3>
            <p>Prof. Arun Sharma (Head - Dept. of AI and Data Sciences, IGDTUW) has been an eminent guiding force behind
                the stupendous success of the AI Club IGDTUW,
                since its inception. With 25 years of experience in educating, managing and researching in academia
                under his belt as well as publishing more than 100 papers in an assortment of reputed journals,
                Arun Sir continues to inspire countless members of this society to forge their way into the resplendent
                world of Machine Learning and AI.</p>
        </div>
    </div>
    <div class="updates" id="updates">
        <h3>Latest Updates</h3>
        <div class="updates_container">
            <div class="updates_col" style="display: flex; justify-content: center;">
                <img src="\Assets\28638.jpg" alt="">
            </div>
            <div class="updates_col updates_desc">
                <h2>AI-ML Month</h2>
                <p>Let’s embark on this edifying journey of exploring the profundity of the fascinating domain of
                    Machine Learning ,
                    beginning from the indispensable fundamentals of Python programming & version control through Git
                    and building our way to
                    utilitarian concepts of advanced level, with the first-ever AI-ML month.✨</p>
                <button class="register-btn"><a href="register">Learn More</a></button>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
        <script>
            window.addEventListener('load', videoScroll);
            window.addEventListener('scroll', videoScroll);
            function videoScroll() {
                if (document.querySelectorAll('video[autoplay]').length > 0) {
                    var windowHeight = window.innerHeight,
                        videoEl = document.querySelectorAll('video[autoplay]');
                    for (var i = 0; i < videoEl.length; i++) {
                        var thisVideoEl = videoEl[i],
                            videoHeight = thisVideoEl.clientHeight,
                            videoClientRect = thisVideoEl.getBoundingClientRect().top;
                        if (videoClientRect <= ((windowHeight) - (videoHeight * .5)) && videoClientRect >= (0 - (videoHeight * .5))) {
                            thisVideoEl.play();
                        } else {
                            thisVideoEl.pause();
                        }
                    }
                }
            }
        </script>