.events {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: #00abc9;
    position: relative;
    overflow: hidden;
}

.event img {
    width: 100%;
}

.event-info {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding: 0.5rem 1rem 1rem; */
    /* letter-spacing: 0.5px; */
    text-align: center;
}

.event-info h3 {
    margin-top: 0;
}

/* .movie-info span {
    background-color: #C996CC;
    padding: 0.25rem 0.5rem;
    margin-top: 10px;
    border-radius: 3px;
    color: black;
    font-weight: bold;
} */

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F6F6F6;
    color: #066163;
    font-weight: 500;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    font-weight: 900;
}

.event:hover .overview {
    transform: translateY(0);
}