@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

:root {
    --font-heading: "Titillium Web", sans-serif;
    --font-sans: "Saira", sans-serif;
    --cyan-dark: #15c7e7;
    --cyan: #32dffe;
    ---dark-theme-cyan: #00abc9;
    --dark-bg: #000;
    --white-bg: #fff;
    --dark-text: #fff;
    --white-text: #000;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--dark-bg);
    color: var(--dark-text);
    font-family: var(--font-sans);
}

/* h1, h2, h3, h4, h5, h6{
  color: var(--cyan-dark);
} */
.light {
    background-color: var(--white-bg);
    color: var(--white-text);
}

.light .vc_text h3,
.light .vc_photo h4,
.light main h4,
.light .updates h3 {
    color: var(---dark-theme-cyan);
}

.vc_text h3,
.vc_photo h4,
main h4,
.updates h3,
.page h3 {
    color: var(--cyan-dark);
}

.vc_text h3,
.updates h3,
.vc_photo h4,
main h1,
.page h3 {
    font-weight: 500;
}

main {
    /* margin-top: 20px; */
    height: 100vh;
    background-image: url("../Assets/90595.jpg");
    width: 100%;
    color: white;
    font-family: var(--font-sans);
    background-size: cover;
    display: flex;
}

main div {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
}

.main-text {
    width: 60%;
}

main h4 {
    /* color: var(---dark-theme-cyan); */
    font-weight: 200;
    margin: 0;
    font-size: 18px;
}

main h1 {
    font-family: var(--font-heading);
    font-size: 46px;
    margin: 0;
}

main div img {
    height: 100%;
}

.about_container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 60px auto;
}

.about_container h2 {
    font-family: var(--font-heading);
    font-weight: 300;
    font-size: 40px;
    margin: 0;
}

.about_text {
    width: 70%;
}

.intro_video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 80px auto 100px;
    padding: 40px 20px;
    background-color: #15c8e748;
    border-radius: 20px;
}

.vc_photo {
    text-align: center;
}

.vc_photo h4 {
    text-align: center;
    font-family: var(--font-heading);
    font-size: 30px;
    margin: 0;
}

.vc_photo img {
    border-radius: 10px;
    /* border-radius: 2px ; */
    width: 70%;
}

#arun {
    height: 300px;
    width: 300px;
    margin-left: 15px;
}

.vc_text {
    width: 60%;
    text-align: center;
    line-height: 1.8;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid var(--cyan);
    border-radius: 10px;
    cursor: pointer;
    flex-direction: column;
}

.vc_text p {
    padding: 0 20px;
}

/* .vc_text:hover {
    box-sizing: border-box;
    border: 1px solid var(--cyan);
    border-radius: 10px;
    cursor: pointer;
} */

.updates {
    margin-top: 60px;
}

.updates h3 {
    font-family: var(--font-heading);
    font-size: 40px;
    text-align: center;
}

.updates_container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    gap: 80px;
}

.updates_desc {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
    border: 1px solid var(--cyan-dark);
}

.updates_desc {
    text-align: center;
}

/* .updates_desc:hover {
    box-sizing: border-box;
    border: 1px solid var(--cyan-dark);
} */

.updates_col:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.updates_col img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.register-btn {
    background-color: var(--cyan);
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--font-sans);
    font-weight: 500;
    transition: .3s;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.register-btn:hover {
    background-color: var(--cyan-dark);
}

@media (max-width: 1024px) {
    .robo_img {
        display: none;
    }

    main {
        /*         background-image: url(https://images.unsplash.com/photo-1523961131990-5ea7c61b2107?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80); */
        background-image: url(https://wallpaperaccess.com/full/1398314.jpg);
    }

    .main-text {
        width: 90%;
        margin: auto;
        z-index: 1;
        padding: 0;
        position: relative;
        top: 200px;
    }

    .main-text h1 {
        font-size: 40px;
    }

    .about_container {
        flex-direction: column;
        width: 90%;
        margin: 40px auto;
        text-align: center;
    }

    .about_container div {
        width: 100%;
    }

    .intro_video {
        width: 90%;
        object-fit: cover;
    }

    .updates_container {
        flex-direction: column;
        align-items: center;
        width: 90%;
        text-align: center;
    }
}

.page h3 {
    font-family: var(--font-heading);
    font-size: 40px;
    text-align: center;
}

.slider-container {
    padding: 2em;
    display: flex;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.blend-image,
.card__background img {
    /* filter: brightness(250%) grayscale(100%); */
    mix-blend-mode: screen;

}

.center-image,
.card__background img {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* -o-object-fit: cover; */
    /* object-fit: cover; */
}

.slick-slide {
    padding: 2em 0.5em;
}

.card-slider {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: #fff;
    display: flex;
    padding: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 350px;
    box-shadow: 0 30px 50px -25px rgba(0, 0, 0, 0.25);
}

.card img {
    height: 350px;
    width: auto;
}

.card>* {
    transition: opacity 350ms;
}

.card--opened>* {
    opacity: 0;
}

.card__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    text-align: left;
}

.card__background::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: linear-gradient(to top, #fff 0, rgba(255, 255, 255, 0) 70%); */
}

.card__category {
    text-transform: uppercase;
    color: #fff;
    background: #2fd4dc;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.2em 0.5em 0.25em;
}

.card__title {
    text-transform: uppercase;
    margin: 0.5em 0;
    color: #2e5f80;
}

.card__duration {
    color: #6f7070;
}

.modal-wrapper,
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal-wrapper {
    display: flex;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 150ms ease;
}

.modal {
    overflow: hidden;
    position: relative;
    margin: auto;
    width: 90vw;
    height: 90vh;
    max-width: 500px;
    background: #fff;
    border-radius: 20px;
}

.modal__scroll-area {
    height: inherit;
    overflow: auto;
    border-radius: inherit;
    position: relative;
    z-index: 1;
}

.modal__close-button {
    background: transparent;
    border: none;
    margin-bottom: auto;
    color: #2e5f80;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2em;
    z-index: 2;
}

.modal__header {
    text-align: center;
    position: relative;
    display: flex;
    padding: 0.5em;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 300px;
    z-index: 1;
}

.modal__content {
    padding: 2em;
    color: #666;
    line-height: 1.5;
}

[data-modal-state=closed] .modal-wrapper {
    pointer-events: none;
}

[data-modal-state=closed] .overlay {
    pointer-events: none;
}

[data-modal-state=closed] .modal {
    opacity: 0;
}

[data-modal-state=closed] .overlay {
    opacity: 0;
}

[data-modal-state=opening] .modal__header,
[data-modal-state=opening] .modal__content,
[data-modal-state=opening] .modal__close-button,
[data-modal-state=closing] .modal__header,
[data-modal-state=closing] .modal__content,
[data-modal-state=closing] .modal__close-button {
    opacity: 0;
}

[data-modal-state=opening] .overlay {
    transition: opacity 500ms ease;
}

[data-modal-state=closing] .overlay {
    opacity: 0;
    transition: opacity 500ms ease;
}

[data-modal-state=open] .modal__header,
[data-modal-state=open] .modal__content {
    transition: opacity 450ms;
}