/* body {
    background-color: black;
    /* background-image: url('/Assets/design.png'); */
} */

#nav-team {
    color: darkcyan;
}

html {
/*     font-family: sans-serif; */
    line-height: 1.15;
    scroll-behavior: smooth;
/*     background-color: #f0f0f0; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
/*   color: #999999; */
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
  align-items: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
.container{
    margin-top: 3em;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: flex;
  padding: 1rem;
  width: auto;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(232, 228, 228, 0.329);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  filter: contrast(100%);
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  /* overflow: hidden; */
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 40vh;
}

.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}


/* IMAGES */
#president {
  background-image: url(../Assets/president.png);
}
#faculty {
  background-image: url(../Assets/Arun_sir.jpeg);
}
#vp1 {
  background-image: url(../Assets/MEDHAVI_MAURYA.png);
}
#vp2 {
  background-image: url(../Assets/VIBHUTI.png);
}
#vp3 {
  background-image: url(../Assets/PREETI.png);
}
#tech1 {
  background-image: url(../Assets/aishwarya.png);
}
#tech2 {
  background-image: url(../Assets/jhanvee.png);
}
#tech3 {
  background-image: url(../Assets/apoorva_tiwari.png);
}
#content {
  background-image: url(../Assets/AMRITAYA.png);
}
#research1 {
  background-image: url(../Assets/ujali_sharma.png);
}
#research2{
  background-image: url(../Assets/Ishita_Saxena_2_Cse.png);
}
#em1 {
  background-image: url(../Assets/yuktika_duggal.png);
}
#em2 {
  background-image: url(../Assets/yashika_behl.png);
}
#pr1 {
  background-image: url(../Assets/shruti_koli.png);
}
#pr2 {
  background-image: url(../Assets/yashvi.png);
}
#creative1 {
  background-image: url(../Assets/SRISHTI_SINGH.png);
}
#creative2 {
  background-image: url(../Assets/veethika.png);
}

