@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

.foot {
    margin-top: 60px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    padding-top: 40px;
    border-top: 1px solid var(--cyan-dark);
    background-color: #0661634d;
    font-family: 'Titillium Web', sans-serif;
    justify-content: space-evenly;
}

.footer-container {
    height: 450px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.footer-container h1 {
    font-size: 2.2rem;
    font-weight: 400;
}

.footer-element h4 {
    font-weight: 400;
}

.footer-element {
    font-size: 1rem;
    font-weight: lighter;
}

.form-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-container button {
    background-color: #32dffe;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Saira", sans-serif;
    font-weight: 500;
    transition: .3s;
    border: none;
    margin-top: 20px;
}

.footer-container button:hover {
    background-color: #15c7e7;
}

.footer-element a {
    color: var(--dark-text);
    text-decoration: none;
}

.footer-element a:hover {
    color: var(--cyan);

}

.footer-container form input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    outline: none;
}

.footer-container form textarea {
    width: 100%;
    margin: 10px 0;
    height: 60px;
    font-family: 'Titillium Web', sans-serif;
}

.fa-brands.fsocial {
    background-color: none;
}

#tagline {
    font-size: 0.75rem;
}

@media screen and (max-width: 620px) {
    .footer-container {
        width: 70%;
        height: fit-content;
        font-size: 1.2rem;
        /* text-align: center; */
    }

    .footer-container {
        margin-bottom: 30px;
    }

    iframe {
        width: 262px;
    }
}