footer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    padding-top: 40px;
    /* background-color: rgba(0, 139, 139, 0.429); */
    border-top: 1px solid var(--cyan-dark);
    font-family: 'Titillium Web', sans-serif;
    justify-content: space-evenly;
}

.footer-container {
    height: 450px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.footer-container h1 {
    font-size: 2.2rem;
    font-weight: 400;
}
.footer-container h4{
    font-weight: 400;
}

.footer-container a{
    color: white;
    text-decoration: none;
    transition: .3s;
}

.light .footer-container a{
    color: var(--white-text);
}
.light .footer-container a:hover{
    color: var(---dark-theme-cyan);
}
.footer-container a:hover{
    color: var(--cyan-dark);
}

.footer-element {
    font-size: 1rem;
    font-weight: lighter;
}



.form-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-container form input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    font-family: var(--font-sans);
    border: none;
    outline: none;
    /* border-radius: 5px; */
}

.footer-container form textarea {
    width: 100%;
    margin: 10px 0;
    height: 100px;
    font-family: 'Titillium Web', sans-serif;
}

#tagline {
    font-size: 0.75rem;
}

@media screen and (max-width: 620px) {
    .footer-container {
        width: 70%;
        height: fit-content;
        font-size: 1.2rem;
        /* text-align: center; */
    }
}