/* * {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
} */

.nav {
  height: 60px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.205);
  backdrop-filter: blur(4px);
  position: fixed;
  z-index: 10;
  color: var(--dark-text);
  /* padding: 0 40px; */
}

.nav_left {
  display: flex;
  /* width: 30%; */
  /* margin-left: 10px; */
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.nav_left .nav-header,
.nav_left .nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  padding: 15px 15px 0;
}

.nav-logo img {
  height: 40px;
  /* padding: 20px 0; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.nav-header .nav-title {
  /* display: inline-block; */
  margin-left: 20px;
  font-size: 1.5rem;
  /* padding: 10px 10px 10px 10px; */
  color: var(--dark-text);
  /* margin: 0; */
  /* position: absolute; */
  /* left: 70px;
    font-weight: 500;
    top: 50%;
    transform: translateY(-50%); */
}

.nav-btn {
  display: none;
}

.nav-links {
  /* display: inline; */
  /* margin-right: 15px;
    float: right;
    position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}

.nav-links a {
  display: inline-block;
  padding: 15px 30px;
  text-decoration: none;
  color: var(--dark-text);
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--cyan-dark);
}

#nav-check {
  display: none;
}

.nav__scroll {
  background-color: var(--dark-bg);
}

.theme_switch {
  border-radius: 50%;
  border: 2px solid white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 990px) {
  .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    height: 70px;
    width: 70px;
    top: 0px;

  }

  .nav-btn label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px 13px 0;
    cursor: pointer;
  }

  .nav-btn label img {
    margin-right: 10px;
  }

  .nav .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    /* border-top: 2px solid black; */
    /* background-color: white; */
    background-color: rgba(0, 0, 0);
    /* backdrop-filter: blur(4px); */

    height: fit-content;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    left: 0px;
  }

  .nav-links a {
    display: block;
    width: 100%;
    color: white;
  }

  .fa-bars {
    font-size: 30px;
  }

  .nav #nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  #nav-check:checked~.nav-links {
    height: calc(320px - 70px);
    overflow-y: auto;
    margin-top: -10px;
  }
}
